@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
}

body {
  color: #fff;
  background-color: #191919;
  transition: all 0.3s ease-in-out;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
}

em,
b {
  color: #f14444;
}

.home-container {
  margin: auto;
  margin-top: 30vh;
  text-align: center;
  width: 500px;
}

.rainbow-text {
  font-size: 3rem;
  user-select: none;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 500%;
  background-clip: text;
  color: transparent;

  animation: rainbow 5s linear infinite alternate;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.page-title {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.notes {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a {
  text-decoration: none;
  color: transparent;
  background: linear-gradient(
    90deg,
    #7fff50,
    #6fff61,
    #63ff47,
    #45ff00,
    #00ff00
  );
  background-clip: text;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(
    90deg,
    #ff7f50,
    #ff6f61,
    #ff6347,
    #ff4500,
    #ff0000
  );
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

a:hover {
  color: #ff4500;
}

a:active {
  color: #ff6347;
}

.navigation {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.next-box {
  text-align: center;
  margin: 3rem;
}
