.container {
  margin: auto;
  width: 50ch;
}

.text-title {
  color: orange;
  font-family: monospace;
  font-size: 1rem;
}

.text-content {
  width: 50ch;
  text-align: justify;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.1rem;
}

.input-box label {
  cursor: pointer;
}

/* ########################################################### */

.theme-switch {
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  accent-color: cyan;
}

body:has(.theme-switch:checked) {
  color: cyan;
  background: #5f5f5f;
}

@media (prefers-color-scheme: dark) {
  body {
    color: yellow;
    background-color: #191919;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: cyan;
    background: #5f5f5f;
  }
}

/* ########################################################### */

@media print {
  body {
    color: #000;
    background-color: #fff;
  }

  .no-print {
    display: none;
  }
}

@media print and (min-width: 21cm) and (min-height: 29.7cm) /* A4 */ {
  body {
    color: #000;
    background-color: #fff;
  }

  .no-print {
    display: block;
  }
}

/* ########################################################### */

@layer second, first;

@layer second {
  .layer {
    border: medium solid lime;
    background-color: brown;
    color: white;
  }
}

@layer first {
  .layer {
    border: medium solid yellow;
    background-color: azure;
    color: black;
  }
}

/* ########################################################### */

.supports {
  width: 150px;
  height: 150px;
  background-color: red;
}

@supports (initial-letter: 1.5) {
  .supports {
    background-color: blue;
  }
}
