.link-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  width: 400px;
  outline: 2px solid teal;
  padding: 24px;
  border-radius: 8px;
  user-select: all;
}

.link-title {
  font-family: monospace;
  font-size: 1rem;
}

.link-container::selection {
  background-color: teal;
}

.transition {
  padding: 20px;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.transition:hover {
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 0 0 50px rgba(0, 255, 255, 0.6),
    0 0 90px rgba(0, 255, 255, 0.4);
}
