.align-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;

  width: 300px;
  margin: auto;
  text-align: center;
}

.item1,
.item2,
.item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00eeff;
}

/* ########################################################### */

.grid-container {
  display: grid;
  gap: 24px;
  grid-template:
    "header header header" 200px
    "nav main aside" 1fr
    "footer footer footer" 100px /
    1fr 1fr 1fr;
  padding: 12px;
  height: 80vh;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template:
      "header" 1fr
      "nav" 1fr
      "main" 1fr
      "aside" 1fr
      "footer" 1fr / 1fr;
  }
}

.header,
.nav,
.main,
.aside,
.footer {
  border: 1px solid #00eeff;
  text-align: center;
}

:is(.header, .nav, .main, .aside, .footer) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ########################################################### */

.small-grid-container {
  display: grid;
  gap: 12px;
  grid-template:
    "box1 box2 box3" 1fr
    "box4 box5 box6" 1fr /
    1fr 1fr 1fr;

  height: 300px;
  width: 700px;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  border: 1px solid #00eeff;
  text-align: center;
}

:is(.box1, .box2, .box3, .box4, .box5, .box6) {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover {
  background-color: #00bcd4;
  color: white;
}

.small-grid-container:has(.box1:hover) {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.small-grid-container:has(.box2:hover) {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.small-grid-container:has(.box3:hover) {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.small-grid-container:has(.box4:hover) {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.small-grid-container:has(.box5:hover) {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.small-grid-container:has(.box6:hover) {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}
