body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px cyan;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  animation-delay: 4s;
}

.cube:nth-child(2) {
  border-color: lime;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  border-color: yellow;
  animation-delay: 6s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  border-color: purple;
  animation-delay: 8s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  border-color: red;
  animation-delay: 10s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  border-color: white;
  animation-delay: 12s;
  left: 50vw;
  top: 10vh;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.home-box {
  transform: translateY(55vh);
  text-align: center;
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
