.font-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
}

.font-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-title {
  color: lime;
  font-family: monospace;
  font-size: large;
}

/* ########################################################### */

.char-numbers {
  width: 55ch;
}

.justify {
  text-align: justify;
}

.text-balance {
  text-wrap: balance;
}

.text-indent {
  text-indent: 20px;
}

.text-indent-neg {
  text-indent: -20px;
}

.align-last {
  text-align-last: right;
}

/* ########################################################### */

.text-emphasis {
  text-emphasis-color: red;
  text-emphasis-style: "1";
  text-emphasis-position: under;
  letter-spacing: 2px;
}

.text-decoration {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 3px;
}

.text-current-color {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.shape {
  float: left;
  width: 175px;
  height: 175px;
  background-color: maroon;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  shape-margin: 10px;
  transition: all 3s steps(5);
}

.shape:hover {
  clip-path: circle(30% at 30% 30%);
  shape-outside: circle(30% at 30% 30%);
}

/* ########################################################### */

.writing-mode {
  writing-mode: vertical-rl;
  height: 50ch;
}

.stylish::first-letter {
  font-size: 2.2rem;
  margin-right: 10px;
  float: left;
  line-height: 1;
}

.select::selection {
  background: red;
}

.columns {
  column-count: 3;
  column-gap: 50px;
}
