.z-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

[class^="z-box"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.z-title {
  color: magenta;
  font-family: monospace;
  font-size: 1rem;
}

[class^="div"] {
  font-size: 2rem;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="div1"] {
  background-color: orange;
  z-index: 1;
}

[class^="div2"] {
  background-color: green;
  z-index: 50;
}

[class^="div3"] {
  background-color: blue;
  z-index: 20;
}

[class^="div4"] {
  background-color: purple;
  z-index: 50;
}

[class^="div5"] {
  background-color: red;
  z-index: 0;
}

/* ########################################################### */

.z-box-relative {
  position: relative;
}

[class$="-relative"] {
  position: relative;
}

/* ########################################################### */

.z-box-absolute {
  position: relative;
}

[class$="-absolute"] {
  position: absolute;
}

/* ########################################################### */

.z-box-fixed {
  position: relative;
}

[class$="-fixed"] {
  position: fixed;
}

/* ########################################################### */

.z-box-mixed-r {
  position: relative;
}

[class$="-relative"] {
  position: relative;
}

/* ########################################################### */

.z-box-mixed-a {
  position: relative;
}

[class$="-absolute"] {
  position: absolute;
}

/* ########################################################### */

.z-box-mixed-f {
  position: relative;
}

[class$="-fixed"] {
  position: fixed;
}
